
.formationAccess{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: auto;
}

.options{
    grid-row: 1/2;
    grid-column: 1/2;
   
}

 .selectAll{
    grid-row: 1/2;
    grid-column: 2/3;
    display: block;
    color: white;
    background-color: #3E5780;
    border: none;
    border-radius: .4em;
}

@media(max-width: 503px){

    .formationAccess{
        grid-template-columns: 100%;
    }
    .selectAll{
        display: none;
        background-color: red;
    }
}
