.selectWeek{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.selectWeek input, .selectWeek label{
    display: inline-block;
    margin-left: 10px;   
}