*{
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  transition: all .2s linear;
}

:root{
  --theme-color: #3E5780;
  --theme-color-sec: rgb(236, 242, 245);
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

html{
  font-size: 62.5%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html::-webkit-scrollbar{
  width: 10px;
}

html::-webkit-scrollbar-thumb{
  background-color: lightslategrey;
  border-radius: 5px;
}

body{
  background-color: var(--theme-color-sec);
}

.body{
  /* padding-top: 10px; */
  min-height: 90vh;
  font-family: sans-serif;
  /* border-radius:20px ; */
  /* margin-top: 4px; */
}

.officer-head{
  position: sticky;
  top: -40;
}

.access-body{
  display: flex;
}

.App{
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%
}

.home-body{
  flex-grow: 2; 
  /* border: 1px solid red; */
  grid-row: 1;
  grid-column: 2;
  width: 100%;
}

@media(max-width: 602px){
    .access-body{
      flex-direction: column;
    }
}

@media(max-width: 503px){

  html{
    font-size: 56%;
  }
} 