.navBar{
    display: none;
    position: fixed;
    flex-grow: 1;
    background-color: rgb(236, 242, 245);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid  #3B6082;
    margin-left: 10px;
    font-size: 1.5rem;
    min-width: 240px;
    max-width: 240px;
    /* min-width: 20%; */
}

.link{
    list-style: none;
    /* text-align: center; */
    text-decoration: none;
}

.link li{
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.link li:hover{
    background-color: #3B6082;
    color: white;
}

.link img{
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}


@media (max-width:503px){

    .navBar{
        max-width: 100%;
    }

}
