.form{
    font-size: 2rem;
}

.field{
    /* border: 1px solid blue; */
    padding: 5px;
}

.field label{
    min-width: 30%;
    max-width: 30%;
    display: inline-block;
}

 .field input, .field select, .field textarea{
    min-width: 50%;
    max-width: 50%;
    display: inline-block;
}

.field input, .field select{
    padding: 5px;
}

.submitBtn{
    padding: 10px;
    background-color: #3E5780;
    margin-left: 210px;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    max-width: 200px;
    min-width: 200px;
}

.message{
    padding-left: 5%;
    margin-top: 20px;
    text-align: center;
}

.failed{
    color: red;
}

.success{
    color: green;
}